// Create by xym on 20180711
    9 技术分析
div.md.md_tecAnalysis
    div.hd
        div.mh_title
            //传值  股票代码
            div#symbol #{symbol}
            h3 技术分析
            h4 Technical analysis
            b
        div.mh_option
            i
    // 图表插入到这里
    div.bd#tech

